<footer class="footer">
    <div class="footer-content">
      <div class="footer-section links">
        <h3>Enlaces rápidos</h3>
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/servicios">Servicios</a></li>
          <li><a routerLink="/contacto">Contacto</a></li>
          <li><a routerLink="/acerca-de">Acerca de</a></li>
        </ul>
      </div>

      <div class="footer-section contact">
        <h3>Contacto</h3>
        <p><i class="fa fa-map-marker"></i> Av. de la Salud 123, Ocaña</p>
        <p><i class="fa fa-phone"></i> +1 234 567 890</p>
        <p><i class="fa fa-envelope"></i> info02&#64;saludgeneral.com</p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 Salud General. Todos los derechos reservados.</p>
      <div class="social-links">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </footer>
